body{
    background-color: rgb(34,34,34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;

}


/*TETS PARA VER SE FUNCIONA*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color: rgb(132,14,201);
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 2px solid rgb(132,14,201);
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover{
     background-color:  rgb(132,14,201);
     color: white;
}

h1{
    font-weight: 200;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: rgb(132,14,201);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}


.main-login{
    width: 100vw;
    height: 100vh;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;    
}

.login-esquerda{
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-esquerda > h1{
    color: rgb(132,14,201);
}

.login-direita {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-login{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: rgb(54, 54, 54);
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1{
    color: white;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: white;
    margin-bottom: 10px;

}

.textfield > input::placeholder{
    color: #f0ffff94;
}

.btn-login{
    width: 60%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: white;
    background: rgb(132,14,201);
    cursor: pointer;
    box-shadow: #500966 4px 4px 0px;
    transition: transform 200ms, box-shadow 200ms;
}
.btn-login:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: #500966 0px 0px 0px;
}

img{
    width: 580px;
}

#subtitulo{
    font-size: 36px;
    font-family: poppinsbold;
    color: white;
    font-weight: 200;

}



